#form-ageApp{
    position: relative;
    display: flex;
    flex-direction:column;
    max-width: 100%;
    background-color: $white;
    width: 40rem;
    height: 30rem;
    border-radius: 20px 20px 150px 20px;
    -webkit-box-shadow: -7px 5px 1px 5px #f0f0f0; 
    box-shadow: -3px 1px 1px 1px #f0f0f0;
}