@import 'variables';
@import 'form';
@import 'media';

body{
    margin: 0;
    padding: 0;
    background-color: $light-grey;
    font-family: $font-text;
    font-size: 16px;
    color: $Off-black
}

#container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.attribution{
    font-size: 0.6rem;
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 27rem;
    height: 1rem;
}